{% extends "base.html"}

{% block titulo %} Editar evento {% endblock %}

{% block conteudo %}

<h2>Editar evento</h2>

<form method = "post">

<input name = "nome" type = name value = "{{ evento.nome}}" required>
<input name = "data" type = date value = "{{ evento.data}}" required>
<input name = "local" value = "{{ evento.local}}" required>
<input name="vagas" value="{{ evento.vagas }}">

<button type = "submit" > Salvar </button>
  
</form>

<p> <a href = "{{ url_for('evento.index)}}"> Cancelar </a> </p>

{% endblock %}
