<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Cadastro de Eventos</h1>
    <form method="post">
      <input name="nome" placeholder="Insira seu nome" required>
      <input name="data" placeholder="Insira a data atual" required >
      <input name="local" placeholder="Insira seu local" >
      <input name="vagas" placeholder="Insira o número de vagas" >

      <button type="submit">Cadastrar</button>
    </form>

    <ul>
      {% for e in eventos %}
      <li>
        {{ e.id }} — {{ e.nome }} — {{ e.data }} — {{ e.local }} — {{ e.vagas }}
        vagas
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
